.desktop-header-container {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #fff;    
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

@media (max-width: 800px) {
    .desktop-header-container {
        display: none;
    }
}

.desktop-header {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desktop-header-logo-container {
    margin-left: 30px;
}

.desktop-header-space {
    flex: 1;
}

.desktop-header-navbar-container {
    margin-left: 60px;
}