.user-nav-button {
    max-width: 110px;
    flex: 1;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.user-nav-button.on {
    border-bottom: 2px solid #EB5C2E;
}

.user-nav-button-text {
    font-weight: 500;
    color: #E0E0E0;
}

.user-nav-button-text.on {
    color: #EB5C2E;
}