.user-nav {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
    width: 600px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-around;
}

@media (max-width: 700px) {
    .user-nav {
        column-gap: 10px;
    }
}