.menu-add-window-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;    
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;
}

.menu-add-window {
    width: 400px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ECECEC;
    box-shadow: 0px 4px 4px #E2E2E2;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 20px 20px;
}

.menu-add-window-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-add-window-name {
    color: #141414;
    font-weight: 500;
}

.menu-add-window-price {
    color: #767676;
    font-weight: 500;
}

.menu-add-window-save-button {
    width: 100%;
    height: 40px;
    background: #EB5C2E;
    border-radius: 6px;
}

.menu-add-window-save-button:hover {
    background: rgba(235,92,46,0.9);
}

.menu-add-window-save-button-text {
    color: #fff;
    font-weight: 500;
}

.menu-add-window-cancel-button {
    width: 100%;
    height: 40px;
    border: 1px solid #EB5C2E;
    border-radius: 6px;
}

.menu-add-window-cancel-button:hover {
    background: rgba(235,92,46,0.1);
}

.menu-add-window-cancel-button-text {
    color: #EB5C2E;
    font-weight: 500;
}