.menu {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.menu-image-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.menu-image-button {
    overflow: hidden;
    border-radius: 10px;
    padding: 0px;
    background: #F0F0F0;
}

.menu-image:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

.menu-image {
    transform: scale(1);
    transition: 0.5s;
}

.menu-name {
    color: #141414;
    font-weight: 500;
}

.menu-price {
    color: #767676;
    font-weight: 500;
}