.menu-add-window-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;    
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;
}

.menu-add-window {
    width: 350px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ECECEC;
    box-shadow: 0px 4px 4px #E2E2E2;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 20px 20px;
}

.menu-add-window-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-add-window-option-container {
    width: 100%;
    height: 36px;
    background-color: #fff;
    font-size: 14px;
    border-radius: 6px;
    padding-left: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.menu-add-window-name {
    color: #141414;
    font-weight: 500;
}

.menu-add-window-price {
    color: #767676;
    font-weight: 500;
}

.menu-add-window-save-button {
    width: 100%;
    height: 40px;
    background: #EB5C2E;
    border-radius: 6px;
}

.menu-add-window-save-button-text {
    color: #fff;
    font-weight: 500;
}

.menu-add-window-cancel-button {
    width: 100%;
    height: 40px;
    border: 1px solid #EB5C2E;
    border-radius: 6px;
}

.menu-add-window-cancel-button-text {
    color: #EB5C2E;
    font-weight: 500;
}

.menu-add-window-quantity-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu-add-window-quantity-controller {
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 120px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-add-window-quantity-button {
    width: 36px;
    height: 36px;
    background: rgba(255,255,255,0);
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-add-window-quantity {
    color: #141414;
    font-weight: 500;
}

.menu-add-window-quantity-button-image {
    width: 24px;
    height: 24px;
}

.menu-add-window-price-title {
    color: #141414;
    font-weight: 500;
}

.menu-add-window-total-price {
    color : #141414;
}

.menu-add-window-divider {
    height: 1px;
    width: 100%;
    background: #ddd;
}

.menu-add-alarm {
    position: fixed;
    top: 80px;
    right: calc(50vw - 700px + 100px);
    z-index: 999;
    overflow: hidden;
    background: #EB5C2E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    padding: 12px 20px 12px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: fadeinout 2s steps(100) infinite;
}

@keyframes fadeinout {
    0% { opacity: 0; }
    33% { opacity: 1; }
    66% { opacity: 1; }
    100% { opacity: 0; }
}

.menu-add-alarm.off {
    display: none;
}

.menu-add-alarm-text {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

@media (max-width: 1400px) {
    .menu-add-alarm {
        right: 50px;
    }
}

@media (max-width: 700px) {
    .menu-add-alarm {
        background: rgba(249, 249, 249, 0.8);
        backdrop-filter: blur(10px);
        top: 60px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
    }
    .menu-add-alarm-text {
        color: #888;
    }
}