.nav-menu-text {
    font-size: 16px;
    font-weight: 500;
}

.nav-menu-text.off {
    color: #CACACA;
}

.nav-menu-text.on {
    color: #EA5B30;    
}

.nav-menu-text.off:hover {
    color: #EA5B30;
}