.orange-tag-container {
    background: #EA5B30;
    padding: 6px  11px 6px 11px;    
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.orange-tag-text {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}