.mobile-header-container {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #fff;    
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 999;
    display: none;
    padding: 0px 20px 0px 20px;
}

.mobile-header-button-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 800px) {
    .mobile-header-container {
        display: flex;
    }
}
