.grey-line-button {
    border: 1px solid #E0E0E0;
}

.grey-line-button:hover {
    background: rgba(224,224,224,0.3);
}

.grey-line-button.unhover:hover {
    background: #fff;
}

.grey-line-button-text {
    color: #ADADAD;
    font-weight: 500;
}
