.order-menu-container {
    width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-menu-text {
    color: #848484;
}

.order-menu-box-text {
    color: #585858;
}

.order-menu-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.order-menu-box-container {
    width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.order-menus-price-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 300px;
    align-items: center;    
}

.order-menus-group-price-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 300px;
    align-items: center;
    margin-bottom: 5px;
}

.order-menus-price-text {
    font-weight: 500;
    color: #141414;
}

.order-menus-group-price-text {
    font-weight: 500;
    color: #585858;
}