.orange-line-button {
    border: 1px solid #EA5B30;
}

.orange-line-button:hover {
    background: rgba(234,91,48,0.1);
}

.orange-line-button.unhover:hover {
    background: #fff;
}

.orange-line-button-text {
    color: #EA5B30;
    font-weight: 500;
}