.header {
    position: sticky;
    top: 0px;
    z-index: 998;
    width: 100%;
    min-width: 100%;
    flex-shrink: 0;
    padding: 0px;
    margin: 0px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
}

@media (max-width: 700px) {
    .header {
        height: 50px;
        box-shadow: none;
        background: rgba(249, 249, 249, 0.8);
        backdrop-filter: blur(10px);
    }
}