.user-button {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    padding: 0;
    margin: 0;
    column-gap: 5px;
}

.user-button-text {
    font-weight: 500;
    color: #707070;
}

.user-button-text:hover {
    color: rgba(112,112,112,0.8);
}

.user-button-icon {
    width: 12px;
    height: 12px;
}