.mobile-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    border-top: 1px solid #DCDCDC;
    display: flex;
    flex-direction: row;
    background: #fff;
    align-items: center;
}

@media (min-width: 800px) {
    .mobile-footer {
        display: none;
    }
    
}