.like {
    width: 600px;
    max-width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.like-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.like-contents-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 5px;
}

.like-name {
    font-weight: 500;
    color: #828282;
}

.like-price {
    font-weight: 500;
    color: #141414;
}

.like-spacer {
    flex: 1;
}

.like-cart-button {
    width: 46px;
    height: 46px;
    border-radius: 25px;
    background: rgba(235,92,46,0.8);
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.like-cart-button-image {
    width: 26px;
    height: 26px;
}

.like-delete-button {
    position: absolute;
    right: 0px;
    bottom: 3px;
    padding: 0px;
}

.like-delete-button-text {
    font-size: 12px;
    color: #C8C8C8;
}

@media (max-width: 700px) {
    .like-image {
        margin-right: 5px;
    }
    .like-cart-button {
        width: 36px;
        height: 36px;
    }
    .like-cart-button-image {
        width: 22px;
        height: 22px;
    }
}
