.pay-method {
    max-width: 500px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    border: 1px solid #C8C8C8;
    border-radius: 6px;
    padding: 0px;
    padding-left: 15px;
    margin: 0px;
    position: relative;
}

.pay-method.on {
    border: none;
}

.pay-method-image {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    top: 10px;
}

.pay-method-title-container {
    color: #C8C8C8;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pay-method-title {
    font-weight: 500;
}

@media (max-width: 700px) {
    .pay-method {
        height: 40px;
    }
    .pay-method-image {
        width: 24px;
        height: 24px;
        top: 8px;
    }
}