.picture-button {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #FFD5C8;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.picture-button-image {
    margin-left: 3px;
    width: 30px;
    height: 30px;  
}

.picture-button-image.left {
    margin-left: 3px;
}

.picture-button-image.right {
    margin-left: 7px;
}