.option-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 280px;
    flex-shrink: 0;
    height: 46px;
    background: #F5F5F5;
    border-radius: 30px;
}

.option-button {
    width: 140px;
    flex-shrink: 0;
    height: 40px;
    border-radius: 30px;
    background: rgba(0,0,0,0);
}

.option-button-text {
    font-weight: 500;
}

.option-button.on {
    background: #EA5B30;
}

.option-button-text.on {
    color: #fff;    
}

.option-button.off {
    background: rgba(0,0,0,0);
}

.option-button-text.off {
    color: #7B7979;    
}