.user-popup-menu-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #F1F1F1;
    box-shadow: 0px 4px 4px #D3D3D3;
    border-radius: 10px;
    position: relative;
    right: 150px;
    top: 67px;
    z-index: 999;
    min-width: 150px;
    min-height: 100px;
}