.orderer {
    max-width: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.orderer-title {
    color: #6A6A6A;
}

.orderer-item {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orderer-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.orderer-item-text {
    color: #464646;
    font-weight: 500;
}

.orderer-edit-button {
    position: absolute;
    right: 0px;
    bottom: 5px;
    padding: 0px;
    margin: 0px;
}

.orderer-edit-button-text {
    color: #AAA;
    font-size: 12px;
    font-weight: 400;
}

@media (max-width: 700px) {
    .orderer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .orderer-edit-button {
        right: 20px;
    }
}