.shipping-list {
    max-width: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shipping-list-title {
    color: #6A6A6A;
}

.shipping-list-guide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #606060;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

@media (max-width: 700px) {
    .shipping-list {
        padding-left: 20px;
        padding-right: 20px;
    }
}