.mobile-menu-contents {
    display: none;
}

@media (max-width: 800px) {
    .mobile-menu-contents {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 40px - 50px);
    }
}

.mobile-menu-image-container {
    display: flex;
    flex-direction: row;
}

.mobile-menu-image {
    width: 100vw;
    height: calc(100vw * 774 / 961);
}

.mobile-menu-tag-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 20px;
}

.mobile-menu-text-container {
    padding-left: 30px;
}

.mobile-menu-english-name {
    font-size: 26px;
    color: #141414;
    font-family: 'Philosopher', sans-serif;
}

.mobile-menu-korean-name {
    font-size: 14px;
    color: #8E8E8E;
}

.mobile-menu-contents-spacer {
    min-height: 40px;
}

.mobile-menu-description {
    font-size: 14px;
    color: #595959;
}

.mobile-menu-option-button-container-top-spacer {
    flex: 1;
    min-height: 30px;
}

@media (max-height: 650px) {
    .mobile-menu-option-button-container-bottom-spacer {
        height: 0px;
        min-height: 50px;
        max-height: 50px;
    }
}

.mobile-menu-option-button-container-bottom-spacer {
    min-height: 25px;
    height: 25px;
}

.mobile-menu-option-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}

.mobile-menu-swipe-button-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    bottom: 65px;
    right: 15px;
}