.menu-block-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-title {
    color: #141414;
}

.menu-intro {
    color: #595959;
}

.menu-menus-container {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    column-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    row-gap: 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background: #F0F0F0;
    border: 0px;
}

.menu-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.menu-quantity-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: content;
    column-gap: 20px;
}

.menu-quantity-button {
    padding: 0px;
    margin: 0px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FFD5C8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.menu-quantity-button-image {
    width: 12px;
    height: 12px;
}

.menu-quantity {
    font-weight: 500;
    color: #000;
}

.menu-name-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-name {
    color: #141414;
    font-weight: 500;
}

.menu-price-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-price {
    font-weight: 500;
    color: #767676;
}